<center>
    <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53691183%2F257316737287%2F1%2Foriginal.jpg?w=800&auto=compress&rect=0%2C0%2C2160%2C1080&s=74711a2a8c51eb0f3bd59e5d482fdc07" width="50%">
</center>

----------

<h1 align="center"> Introduction to Python </h1>
<br>
<center align="left"> <font size='4'>  Developed by: </font> <img src="https://s3.amazonaws.com/weclouddata/images/logos/wcd_logo.png" width="20%">
</center>
<br>
<center align="left"> <font size='4' color='#FF5713'> Accelerating your data science career! </font></center>
<br>

---------

# Python Basics

## Printing

To show the output of some code in Python, we can use the print function

In [2]:
print('Hello world!')

Hello world!

Jupyter notebooks/Google colab will automatically print the last line a cell

In [6]:
'This is line 1'
'This is line 2'

'This is line 2'

## Quotations in Python

Python uses single ('), double (") and triple (''' or """) quotes to denote strings, as long as the same type of quote starts and ends the string.

In [7]:
print('This is a string')

print("This is also a string")

print('''
This is a multiline string
It has...multiple lines
''')

This is a string
This is also a string

This is a multiline string
It has...multiple lines

## Comments

The hash character (#) can be used for commenting. Anything written after it will be ignored by Python

In [9]:
# This is a comment and will be ignored

'This will be printed'

'This will be printed'

## Arithmetic operators

Python has many built in mathematical operators. Some of these include:

| Operators|   Meaning|
| ---------|:--------:|
|         +|       Sum|
|         -|Difference|
|        \*|   Product|
|         /|  Division|
|         %|  Reminder|
|      \*\*|     Power|
|//|Floor Divison|

In [11]:
3 + 5

8

In [12]:
3 * 5

15

In [14]:
3**5

243

## Comparison operators

Comparison operators are used to compare values. It either returns Booleans (True or False) according to the condition.

| Operators|   Meaning|
| ---------|:--------:|
|         >|       Greater that|
|         <|Less that|
|        ==|   Equal to|
|        !=|  Not equal to|
|        >=|  Greater than or equal to|
|        <=|  Less than or equal to|

In [16]:
10 > 5

True

In [17]:
10 < 5

False

In [19]:
10 == 5

False

In [20]:
10 != 5

True

## Logical operators

Logical operators are the **and, or, not ** operators.

| A|   B| A and B| A or B|
|-----|:----:|-----|:----:|
|True|True|True|True|
|False|False|False|False|
|True|False|False|True|
|False|True|False|True|

In [22]:
True and False

True

In [27]:
5 > 1

True

In [28]:
not (5 > 1)

False

In [26]:
(5 > 1) and (5 < 10)

True

## Variables

Variables store a value, that can be looked at or changed at a later time.

In [37]:
name = 'Bob'

print('My name is', name)

My name is Bob

In [31]:
x = 5

y = 10

x + y

15

## Exercise

Write a program that does the following in order:

1. Asks the user to enter a number 'x'
2. Asks the user to enter a number 'y'
3. Prints the result of  'x' plus 'y'. 
4. Prints the result of 'x' to the power of 'y'
5. Prints if 'x' is greater than or equal to 'y'

In [39]:
x = int(input('Pick a number: '))
y = int(input('Pick another number: '))

######### Your code below #########

print('x + y is:', x + y)
print('x**y is:', x**y)
print('x > y is:', x > y)

Pick a number: 5
Pick another number: 10
x + y is: 15
x**y is: 9765625
x > y is: False

# Strings

Strings in Python are sequence of characters represented in the quotation marks.

In [40]:
'This is a string'

'This is a string'

In [66]:
type('This is a string')

str

## String indexing

We can use the square bracket notation to get the character at a certain position or index.

In [49]:
my_string = 'This is a string'

my_string[5]

'i'

Python is zero-indexed.

In [42]:
my_string[0]

'T'

We can use negative integers to index in reverse.

In [43]:
my_string[-1]

'g'

## Slicing

We can also add more parameters in the square brackets to select ranges of characters.
> [start:stop:step]

Notice the first number is inclusive and the second number is exclusive.

In [53]:
my_string[5:9]

'is a'

If we set the step size to 2, it will slice every other character.

In [60]:
my_string[0:16:2]

'Ti sasrn'

## String methods

Python has several built-in methods for manipulating strings. Some examples include:

- str.lower()
- str.upper()
- str.capitalize()
- str.strip()
- str.startwith()
- str.endswith()
- str.replace()
- str.split()
- str.join()

For more information, visit: https://docs.python.org/3.6/library/string.html

**what is the dot?**
- strings are Python objects, 
- everything in Python is an object
- objects have methods and functions
- methods have the notiation object_name.do_something()
- functions have the notation do_something(input)

In [61]:
my_string

'This is a string'

In [62]:
my_string.upper()

'THIS IS A STRING'

In [63]:
my_string.startswith('T')

True

In [64]:
my_string.split(' ')

['This', 'is', 'a', 'string']

# Lists

* a type of Python data structure
* **ordered sequence** of information, accessible by **index**
* a list is denoted by **square brackets, []**
* a list contains elements that can be of mixed types
* list elements can be changed so a list is **mutable**

In [69]:
my_list = ['a', 99, 'c', True, 'banana']

my_list

['a', 99, 'c', True, 'banana']

## Indexing/Slicing

Similar to strings, we can use the square bracket notation to select elements from a list

In [70]:
my_list[1]

99

In [71]:
my_list[1:3]

[99, 'c']

## Operations on lists

### Concatenate

We can concatenate two lists by using the add operator.

In [74]:
my_list + ['x', 'y', 'z']

['a', 99, 'c', True, 'banana', 'x', 'y', 'z']

### Append
Similarly, we can add an element to the end of a list using the **append** method

In [75]:
my_list.append('watermelon')

['a', 99, 'c', True, 'banana', 'watermelon']

In [76]:
my_list

['a', 99, 'c', True, 'banana', 'watermelon']

###  Remove

1. delete element at a specific index with **del(L[index])**
2. remove element at **end** of list with **L.pop()**, returns the **removed element**
3. remove a specific element with **L.remove(element)**
 * looks for the element and removes it
 * if element occurs multiple times, removes first occurrence
 * if element not in list, gives an error

In [77]:
my_list

['a', 99, 'c', True, 'banana', 'watermelon']

In [0]:
del(my_list[0])

In [79]:
my_list

[99, 'c', True, 'banana', 'watermelon']

In [80]:
my_list.pop()

'watermelon'

In [0]:
my_list.remove('banana')

In [82]:
my_list

[99, 'c', True]

### Sorting

We can use the **sorted** function to sort a list

In [0]:
num_list = [5, 8, 3, 2, 9, 8]

In [84]:
sorted(num_list)

[2, 3, 5, 8, 8, 9]

# Exercise

- Get the length of the tweets list
- Select the second tweet and do the following:
    - lowercase the string and save it to new variable `tweet2`
    - check if the word 'dangerous' is in the tweet
    - get the last word (hint: use '.split')
    - get the last 3 words

In [0]:
tweets = [
    "I had to fire General Flynn because he lied to the Vice President and the FBI. He has pled guilty to those lies. It is a shame because his actions during the transition were lawful. There was nothing to hide!",
    "That's right, we need a TRAVEL BAN for certain DANGEROUS countries, not some politically correct term that won't help us protect our people!",
    "Does anybody really want to throw out good, educated and accomplished young people who have jobs, some serving in the military? Really!....."
]

In [2]:
tweets[0]

'I had to fire General Flynn because he lied to the Vice President and the FBI. He has pled guilty to those lies. It is a shame because his actions during the transition were lawful. There was nothing to hide!'

# Dictionaries (Maps)

It is best to think of a dictionary as an **unordered** set of key: value pairs, with the requirement that the keys are **unique** (within one dictionary). They can be created using curly braces with key, value pairs separated by a colon.

For more information about dictionaries: https://docs.python.org/3/tutorial/datastructures.html#dictionaries

## List vs Dictionary

#### Lists:
* Ordered sequence of elements
* looked up elements by integer index
* indices have an order
* index is integer

#### Dictionaries:
* matches "key" to "value"
* no order is guaranteed
* keys can be any immutable type

In [89]:
groceries = {'milk': 3.99, 'eggs': 5.50, 'bread': 3.00}

groceries

{'bread': 3.0, 'eggs': 5.5, 'milk': 3.99}

### Selecting an item

In [90]:
groceries['milk']

3.99

### Adding an item

In [0]:
groceries['apples'] = 4.00

In [92]:
groceries

{'apples': 4.0, 'bread': 3.0, 'eggs': 5.5, 'milk': 3.99}

### Removing an item

In [0]:
del(groceries['eggs'])

In [94]:
groceries

{'apples': 4.0, 'bread': 3.0, 'milk': 3.99}

# If/Else Statements

Decision making is required when we want to execute a code only if a certain condition is satisfied. 


More info: https://docs.python.org/3/tutorial/controlflow.html

In [96]:
x = 5
y = 10

if x > y:
    print('x is bigger than y')
elif y < y:
    print('y is bigger than x')
else:
    print('x is equal to y')

x is equal to y

# For loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

More info: https://docs.python.org/3/tutorial/controlflow.html#for-statements

In [97]:
for x in [1, 2, 3, 4, 5]:
    print(x * 2)

2
4
6
8
10

### Storing values with loops

In [99]:
data = []
for x in [1, 2, 3, 4, 5]:
    data.append(x * 2)
    
data

[2, 4, 6, 8, 10]

### Summing numbers

In [101]:
summed = 0
for x in [1, 2, 3, 4, 5]:
    summed = summed + x

summed

15

### Filtering

In [103]:
filtered = []
for x in [1, 2, 3, 4, 5]:
    if x >= 3:
        filtered.append(x)

filtered

[3, 4, 5]

# Functions

* write reusable pieces/chunks of code, called functions 
* functions are not run in a program until they are “called” or “invoked” in a program

In [105]:
def add(a, b):
    return a + b

add(5, 10)

15

# Exercise

- Get the average length of all tweets
- Create a function called `count_tweets` that takes in a list of tweets and returns the average length of all tweets
- Test your function using `more_tweets` as the input

In [0]:
tweets = [
    "I had to fire General Flynn because he lied to the Vice President and the FBI. He has pled guilty to those lies. It is a shame because his actions during the transition were lawful. There was nothing to hide!",
    "That's right, we need a TRAVEL BAN for certain DANGEROUS countries, not some politically correct term that won't help us protect our people!",
    "Does anybody really want to throw out good, educated and accomplished young people who have jobs, some serving in the military? Really!....."
]

In [0]:
more_tweets = [
    "Marshawn Lynch of the NFL’s Oakland Raiders stands for the Mexican Anthem and sits down to boos for our National Anthem. Great disrespect! Next time NFL should suspend him for remainder of season. Attendance and ratings way down.",
    "How low has President Obama gone to tapp my phones during the very sacred election process. This is Nixon/Watergate. Bad (or sick) guy!",
    "If a new HealthCare Bill is not approved quickly, BAILOUTS for Insurance Companies and BAILOUTS for Members of Congress will end very soon!",
    "If ObamaCare is hurting people, & it is, why shouldn't it hurt the insurance companies & why should Congress not be paying what public pays?"
]

In [7]:
tweet_counts = []
for tweet in tweets:
    tweet_counts.append(len(tweet))
    
sum(tweet_counts) / len(tweet_counts)

162.66666666666666

In [10]:
def count_tweets(tweets_list):
    tweet_counts = []
    for tweet in tweets_list:
        tweet_counts.append(len(tweet))

    return sum(tweet_counts) / len(tweet_counts)

count_tweets(tweets)

162.66666666666666